.book-container {
  background: #fafafa;
}
ul {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, 15rem);
  justify-content: center;
}
.book {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 1px solid black;
  background: white;
  height: 20rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;

  .img-container {
    height: 220px;
    margin-bottom: 8px;
    img {
      height: 100%;
      max-width: 100%;
    }
  }
  .title {
    margin: 2px;
    font-weight: bold;
  }
  .author {
    margin: 2px;
    color: #757575;
  }
}

.missing-book {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100%;
  width: 200px;
  font-weight: bold;
  font-size: 1rem;
  background: gray;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;

  .container {
    width: 50%;
  }
}
