.about {
  margin: 0 auto;
  width: 60vw;
  height: 100vh;
  background: #fff;
  border: 1px #bdbdbd solid;
  padding: 64px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden;
}

.about p {
  margin-top: 4px;
}
