body {
  overflow: hidden;
}

header {
  display: flex;
  height: 5rem;
}

.content-grid {
  display: grid;
  grid-template-columns: 3fr 5fr;
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  padding-bottom: 8px;
}
aside {
  height: calc(100vh - 6.5rem);
}

.book-container {
  height: calc(100vh - 5.5rem);
  overflow-y: scroll;
}
