.rec-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.rec-desc {
  color: 757575;
}
.rec-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.clear-rec-button {
  padding: 0.4rem;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  background: #673ab7;
  margin-top: 1rem;
  font-size: 1.2rem;
  vertical-align: center;
}

.clear-rec-button:hover {
  background: #412570;
}
